.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto
}
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
 
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  input{
    border-radius: 2px;
    border: none;
  }
  table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
#myInput {
 height: 7%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 12px 20px 12px 40px;
  border: 2px solid #008da7;
  margin-bottom: 4px;
  margin-top: 12px;
  border-radius: 1rem;
  color: #008da7;

}
input[type=text], 
    input[type=password],input[type=username] { 
        width: 100%; 
        padding: 12px 20px; 
        margin: 8px 0; 
        display: inline-block; 
        border: 2px solid #ccc; 
        box-sizing: border-box; 
    } 
    /* set a style for all buttons*/ 
    button { 
        background-color:#008da7; 
        color: white; 
        padding: 14px 20px; 
        margin: 8px 0; 
        cursor: pointer; 
        width: 100%; 
    } 
    /*set styles for the cancel button*/ 
    .cancelbtn { 
        padding: 14px 20px; 
        background-color: #FF2E00; 
    } 
    /*float cancel and signup buttons and add an equal width*/ 
    .cancelbtn, 
    .signupbtn { 
        float: left; 
        width: 50% 
    } 
    /*add padding to container elements*/ 
    .container { 
        padding: 16px; 
    } 
    /*define the modal’s background*/ 
      
    .modal { 
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0, 0, 0); 
        background-color: rgba(0, 0, 0, 0.4); 
        padding-top: 60px; 
    } 
    /*define the modal-content background*/ 
      
    .modal-content { 
        background-color: #fefefe; 
        margin: 5% auto 15% auto; 
        border: 1px solid #888; 
        width: 80%; 
    } 
    /*define the close button*/ 
      
    .close { 
        position: absolute; 
        right: 35px; 
        top: 15px; 
        color: #000; 
        font-size: 40px; 
        font-weight: bold; 
    } 
    /*define the close hover and focus effects*/ 
      
    .close:hover, 
    .close:focus { 
        color: red; 
        cursor: pointer; 
    } 
      
    .clearfix::after { 
        content: ""; 
        clear: both; 
        display: table; 
    } 
      
    @media screen and (max-width: 300px) { 
        .cancelbtn, 
        .signupbtn { 
            width: 100%; 
        } 
}
.div1{
  width: 100%;
  display: inline-block; 
        
        box-sizing: border-box; 
        text-align: center;
        font-size: 1.5em;
        
  
}
tbody{
  background-color: #008da7;
}
.container{
  border: 1.5px solid #008da7;
 
  
}
.modal,.modal-content{
  width: 75%;
}

















